name: CraneOps CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # -------------------------------------------------------
  # JOB 1: JAVA INGESTION SERVICE
  # -------------------------------------------------------
  build-java:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/ingestion

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'

    - name: Build with Maven
      run: mvn -B package -DskipTests

    - name: Run Unit Tests
      run: mvn -B test

  # -------------------------------------------------------
  # JOB 2: PYTHON SPARK ETL
  # -------------------------------------------------------
  test-python:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/processing

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: 'pip'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyspark==3.5.1 pytest pandas

    - name: Run PyTest
      run: pytest tests/